/* --- Import Font-Awesome stylesheets --- */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
/* --- Import Google Fonts stylesheets --- */
@import url(<"https://fonts.googleapis.com/css?family=Montserrat|Open+Sans");
/* --- Import Components stylesheets --- */

@import url("components/avatar.css");
@import url("components/card.css");
@import url("components/sidebar.css");
@import url("components/button.css");
@import url("components/logo.css");
@import url("layout/main-container.css");
@import url("layout/sidebar-container.css");

/* --- Define basic style for fonts & colors --- */

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #444;
  background-color: #F6F6F7;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
  color: #384047;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .main-container {
    width: 700px;
    margin: 0 auto;
  }

  .sidebar-container {
    width: 100px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .main-container {
    width: 500px;
    margin: 0 auto;
  }

    .sidebar-container {
    width: 80px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .main-container {
    width: 300px;
    margin: 0 auto;
  }

  .sidebar-container {
    width: 60px;
  }
}

.text-align {
  text-align: center;
}