.main-container {
  max-width: 800px;
  margin: 0 auto;
}

.card {
  margin: 10px 0;
  background-color: white;
  padding: 25px 20px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#profile {
  flex-flow: column wrap;
  align-items: center;
}

span {
  color: #1AAE88;
}

.book-card img {
  width: 110px;
  padding: 20px;
}

.book-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

 .book-content {
  text-align: justify;
  display: flex;
  flex-direction: column;
}