.main-container {
  width: 800px;
  margin: 0 auto;
}

.card {
  margin: 10px 0;
  background-color: white;
  background: white;
  padding: 25px 20px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#profile {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}