.sidebar {
  background-color: #384047;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.sidebar a {
  font-size: 25px;
  color: white;
}

